/* ------------------------------------------------------------ *\
	Field - RichText
\* ------------------------------------------------------------ */

.carbon-rich_text_no_media textarea { border-width: 0; }

.carbon-rich_text_no_media .description { padding-top: 5px; }
.carbon-rich_text_no_media .carbon-wysiwyg { margin-top: 5px; }

.carbon-rich_text_no_media .wp-editor-tools { float: left; }
.carbon-rich_text_no_media .wp-editor-tabs { margin-top: 1px; }

.carbon-rich_text_no_media input[value="img"] { display: none; }